<div class="row account">
  <div class="small-12 column">
    <div class="float-right text-right">
      <% if current_user.administrator? && Rails.application.secrets.show_change_password_button == 1 %>
        <%= link_to t("account.show.change_credentials_link"), edit_user_registration_path, class: "button hollow" %>
        <br>
      <% end %>
      <%= link_to t("account.show.erase_account_link"), users_registrations_delete_form_path, class: "delete" %>
    </div>

    <%= avatar_image(@account, seed: @account.id, size: 100, class: "margin-bottom") %>

    <h1 class="inline-block"><%= t("account.show.title") %></h1>

    <%= form_for @account, as: :account, url: account_path do |f| %>
      <%= render "shared/errors", resource: @account %>

      <div class="row">
        <div class="small-12 medium-7 column">

          <h2><%= t("account.show.personal") %></h2>

          <div class="small-12 medium-10">
            <% if @account.organization? %>
              <%= f.fields_for :organization do |fo| %>
                <%= fo.text_field :name, autofocus: true, maxlength: Organization.name_max_length, placeholder: t("account.show.organization_name_label") %>
                <%= fo.text_field :responsible_name, autofocus: true, maxlength: Organization.responsible_name_max_length, placeholder: t("account.show.organization_responsible_name_placeholder") %>
              <% end %>
              <%= f.text_field :phone_number, placeholder: t("account.show.phone_number_label") %>
            <% end %>

            <%= f.email_field :email, placeholder: t("account.show.email_label"), :required => true, :value => @account_email %>
          </div>

          <div>
            <label>
              <input type="checkbox" checked disabled /><span class="checkbox">Samtykke givet den <%= l(current_user.created_at.to_date, format: "%d. %B %Y").downcase %>.</span>
            </label>
          </div>

          <div style="margin-bottom: 1rem;">
            <%= link_to "Læs mere om anvendelse af personoplysninger.", "/privacy", target: "_blank" %>
          </div>

          <div>
            <%= f.check_box :public_activity %>
          </div>

          <div>
            <%= f.check_box :public_interests %>
          </div>

          <% if @account.official_level == 1 %>
            <div>
              <%= f.check_box :official_position_badge %>
            </div>
          <% end %>

          <% if feature?("user.recommendations") %>
            <h2><%= t("account.show.recommendations") %></h2>

            <% if feature?("user.recommendations_on_debates") %>
              <div>
                <%= f.check_box :recommended_debates %>
              </div>
            <% end %>

            <% if feature?("user.recommendations_on_proposals") %>
              <div>
                <%= f.check_box :recommended_proposals %>
              </div>
            <% end %>
          <% end %>

          <%= f.submit t("account.show.save_changes_submit"), class: "button margin-top" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
