<h2><%= t("devise_views.users.registrations.new.title") %></h2>

<%= form_for @user, as: :user, url: users_sign_up_success_path, method: :get, html: { role: "form" } do |f| %>
  <%= render "shared/errors", resource: @user %>

  <%= f.hidden_field :registration_state %>

  <%= f.label :terms_of_service do %>
    <%= strip_checkbox_errors do %>
      <%= f.check_box :terms_of_service, label: false %>
      <span class="checkbox">Når du tilmelder dig, accepterer du <%= link_to "brugervilkår og betingelser", "/conditions", target: "_blank" %></span>
    <% end %>
  <% end %>

  <p>Borgerservice i Aarhus Kommune ønsker i forbindelse med at du som borger kan deltage i prioriteringen af offentlige budgetter at indhente dit samtykke til, at vi behandler personoplysninger om dig.</p>
  <%= f.label :consent_and_information do %>
    <%= strip_checkbox_errors do %>
      <%= f.check_box :consent_and_information, label: false %>
      <span class="checkbox" style="display:block;position:relative;margin-left:2em;margin-top:-2.2em;">Ved afkrydsning af dette felt giver du samtykke til at Borgerservice i Aarhus Kommune, må behandle dine oplysninger som beskrevet. Dit brugernavn vil blive vist i forbindelse med dine indlæg.</span>
    <% end %>
  <% end %>

  <p>Borgerservice benytter ikke altid dine oplysninger, men vil have mulighed for at kontakte dig pr. e-mail. <%= link_to "Læs mere om anvendelse af personoplysninger", "/privacy", target: "_blank" %></p>

  <p>Det samtykke du har givet, kan til enhver tid trækkes tilbage, dog uden at ændre på lovligheden af den behandling, der allerede måtte være foretaget. Hvis du ønsker at tilbagetrække dit samtykke, kan du henvende dig mundtligt, på mail eller skriftligt til Demokrati og Udvikling, Borgerservice, Hack Kampmanns Pl. 2, 8000 Aarhus C.</p>

  <div class="small-12 medium-6 small-centered">
    <%= f.submit t("devise_views.users.registrations.new.submit"), class: "button expanded" %>
  </div>
  <div class="text-center">
    <%= link_to t("devise_views.users.registrations.new.cancel"), root_path, class: "delete" %>
  </div>
<% end %>
