<h2><%= t("devise_views.users.registrations.new.title") %></h2>

<% if @residence_valid %>
  <%= form_for @user, as: :user, url: users_sign_up_success_path, method: :get, html: { role: "form" } do |f| %>
    <%= render "shared/errors", resource: @user %>

    <%= f.hidden_field :registration_state %>

    <%= f.label :terms_of_service do %>
      <%= strip_checkbox_errors do %>
        <%= f.check_box :terms_of_service, label: false %>
        <span class="checkbox"><%= t("devise_views.users.registrations.success.condition_checkbox.label.text") %> <%= link_to t("devise_views.users.registrations.success.condition_checkbox.label.link_text"), "/conditions", target: "_blank" %></span>
      <% end %>
    <% end %>

    <p><%= t("devise_views.users.registrations.success.condition_checkbox.undertext") %></p>
    <%= f.label :consent_and_information do %>
      <%= strip_checkbox_errors do %>
        <%= f.check_box :consent_and_information, label: false %>
        <span class="checkbox" style="display:block;position:relative;margin-left:2em;margin-top:-2.2em;"><%= t("devise_views.users.registrations.success.consent_checkbox.label.text") %></span>
      <% end %>
    <% end %>

    <p><%= t("devise_views.users.registrations.success.consent_checkbox.undertext") %> <%= link_to t("devise_views.users.registrations.success.consent_checkbox.undertext_link_text"), "/privacy", target: "_blank" %></p>

    <p><%= t("devise_views.users.registrations.success.footer_text") %></p>

    <div class="small-12 medium-6 small-centered">
      <%= f.submit t("devise_views.users.registrations.new.submit"), class: "button expanded" %>
    </div>
    <div class="text-center">
      <%= link_to t("devise_views.users.registrations.new.cancel"), root_path, class: "delete" %>
    </div>
  <% end %>
<% else %>
  <p><%= t("budgets.index.section_footer.description_test") %></p>
  <p>Du er ikke borger i kommunen og kan derfor ikke logge på.</p>
  <p><%= link_to "Tilbage til forsiden", root_path %></p>
<% end %>
